/*============== Site ==============*/
html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	scroll-snap-type: y proximity;
	scroll-snap-stop: always;
	scroll-behavior: smooth;
}
a {
	outline: none;
}
.mouse-scroll {
	width: 50px;
	height: 50px;
	background-image: url(../images/mouse-scroll.png);
	background-size: cover;
	animation-name: icon-bob;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
@keyframes icon-bob {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(1vw);
	}
	100% {
		transform: translateY(0);
	}
}

/*============= Color Theme =============*/
:root {
	--primary: #21dbcc;
	--secondary: #1a2adb;
	--p1-primary: #ffaa04;
	--p1-secondary: #000;
	--p2-primary: #7377e5;
	--p2-secondary: #000;
	--cyan: rgb(78, 158, 158);
}

/*============ Scrollbar ============*/
body::-webkit-scrollbar {
	width: 10px;
}

body::-webkit-scrollbar-track {
	border: 1px gray solid;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
	border-radius: 10px;
	/*changes scrollbar gradient color*/
	background-image: linear-gradient(
		rgb(93, 192, 192),
		rgb(78, 158, 158),
		rgb(55, 76, 110)
	);
}

/*=========== Navigation ===========*/
.nav {
	position: fixed;
	width: 100%;
	height: fit-content;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: white;
	z-index: 1;
}
.nav img {
	width: 3%;
	height: auto;
	margin-left: 0;
	margin-right: auto;
	padding: 0 15px;
}
.nav .current {
	width: fit-content;
	height: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.nav .current .underline {
	position: absolute;
	width: 5%;
	height: 1px;
	top: 50px;
	background-color: var(--primary);
}
.nav a {
	position: relative;
	padding: 20px;
	color: black;
	text-decoration: none;
	font-family: "Quicksand";
	font-size: 15px;
	transition: all 0.5s;
}
.nav a:hover {
	color: gray;
}
.nav .vote {
	padding: 20px 30px;
	background-color: black;
	color: white;
}
.nav .vote:hover {
	background-color: darkgrey;
	color: black;
}

/*

===================================== Home Page =========================================

*/

/*============= Home ============*/
.home {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-color: white;
	scroll-snap-align: start;
}
/* Header */
.home .header {
	position: relative;
	width: 100%;
	height: 20%;
	margin-top: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.home .header h1 {
	margin: 0;
	font-family: "Quicksand";
	font-size: 40px;
}
.home .header p {
	font-family: "Quicksand";
	font-size: 20px;
}
.home .banner {
	position: relative;
	width: 100%;
	height: 40%;
	background-image: url(../images/banner.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}
.home a {
	width: fit-content;
	height: fit-content;
	z-index: 1;
}
/* Information */
.info {
	width: 70%;
	height: 100%;
	margin: 0 15%;
	display: flex;
	flex-direction: column;
	align-items: center;
	scroll-snap-align: start;
}
.info .header {
	width: 100%;
	height: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.info .header h1 {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 40px;
	font-family: "Quicksand";
}
.info .header h1::after {
	content: "";
	margin-top: 2%;
	width: 60%;
	height: 0.1px;
	background-color: var(--primary);
}
.info .text-cont {
	width: fit-content;
	height: fit-content;
}
.info .text-cont p {
	font-size: 25px;
	font-family: "Quicksand";
}
.info .btn-cont {
	position: relative;
	width: 100%;
	height: 35%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.info .btn-cont p {
	font-size: 20px;
	font-family: "Quicksand";
}
.info .btn-cont a {
	width: fit-content;
	height: fit-content;
	padding: 10px 15px;
	border-radius: 10px;
	color: white;
	text-decoration: none;
	font-family: "Quicksand";
	font-size: 15px;
}
.info .btn-cont .isaac-btn {
	background-color: var(--p1-primary);
}
.info .btn-cont .wilhelm-btn {
	background-color: var(--p2-primary);
}

/*================ Code ===============*/
.code {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	scroll-snap-align: start;
}
.code .column1 {
	width: 35%;
	height: 60%;
	margin-left: 15%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-items: flex-start;
}
.code .column1 h1 {
	width: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	font-size: 40px;
	font-family: "Quicksand";
}
.code .column1 h1::after {
	content: "";
	margin-top: 2%;
	width: 70%;
	height: 0.1px;
	background-color: var(--primary);
}
.code .column1 p {
	margin: 0;
	font-size: 20px;
	font-family: "Quicksand";
}
.code .column1 a {
	margin: 0;
	color: black;
	font-size: 20px;
	font-family: "Quicksand";
	text-decoration: none;
}
.code .column1 a:hover {
	color: gray;
}
.code .column2 {
	width: 35%;
	height: 60%;
	margin-right: 15%;
	display: flex;
	justify-items: center;
}
.code .column2 img {
	width: 25vw;
	height: auto;
	margin: auto;
}

/*================ Our Contribution ===============*/
.our-contribution {
	position: relative;
	width: 100%;
	height: 80%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	scroll-snap-align: start;
}
.our-contribution .column1 {
	width: 35%;
	height: 60%;
	margin-left: 15%;
	display: flex;
	justify-items: center;
}
.our-contribution .column2 {
	width: 35%;
	height: 60%;
	margin-right: 15%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-items: flex-start;
}
.our-contribution .column2 h1 {
	width: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	font-size: 40px;
	font-family: "Quicksand";
}
.our-contribution .column2 h1::after {
	content: "";
	margin-top: 2%;
	width: 50%;
	height: 0.1px;
	background-color: var(--primary);
}
.our-contribution .column2 p {
	margin: 0;
	font-size: 20px;
	font-family: "Quicksand";
}
.our-contribution .column2 p a {
	color: black;
}
.our-contribution .column1 img {
	width: 20vw;
	height: auto;
	margin: auto;
}

/*================= Side Navigation ================*/
.side-nav {
	position: fixed;
	width: 5%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
}
.side-nav a {
	width: fit-content;
	height: fit-content;
	margin: 15% 0;
}
.side-nav a i {
	color: black;
	font-size: 25px;
}

/*

===================================== Sir Isaac Newton Page =========================================

*/

/*================= Header ==============*/
.isaac-header {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	scroll-snap-align: start;
}
.isaac-header::after {
	content: "";
	margin-top: 15%;
	width: 45%;
	height: 0.1px;
	background-color: black;
}
.isaac-header .text-cont {
	width: 100%;
	height: 15%;
	margin-top: 5%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.isaac-header .text-cont h1 {
	margin: 0;
	letter-spacing: 5px;
	font-size: 40px;
	font-family: "Merriweather";
}
.isaac-header .text-cont p {
	margin: 0;
	font-size: 20px;
	font-family: "Quicksand";
}
.isaac-header .banner {
	width: 60%;
	height: 50%;
	background-image: url(../images/newton-background.jpg);
	background-size: cover;
	background-position: top;
}

/*================ Biography ================*/
.isaac-bio {
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.isaac-bio .text-cont {
	width: 70%;
	height: fit-content;
	margin: 5% 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.isaac-bio .text-cont img {
	width: 750px;
	height: auto;
	margin: 5%;
}
.isaac-bio .text-cont h1 {
	margin-left: 0;
	margin-right: auto;
	font-size: 40px;
	font-family: "Merriweather";
}
.isaac-bio .text-cont p {
	font-size: 20px;
	font-family: "Quicksand";
}

/*================ Contribution =================*/
.isaac-contribution {
	width: 100%;
	height: 100%;
}

/*================= Why Vote ==================*/
.isaac-vote {
	width: 100%;
	height: 80%;
}

/*

================================= Gottfried Wilhelm Leibniz ==============================

*/

/*================= Header ==============*/
.wilhelm-header {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	scroll-snap-align: start;
}
.wilhelm-header::after {
	content: "";
	margin-top: 15%;
	width: 45%;
	height: 0.1px;
	background-color: black;
}
.wilhelm-header .text-cont {
	width: 100%;
	height: 15%;
	margin-top: 5%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.wilhelm-header .text-cont h1 {
	margin: 0;
	letter-spacing: 5px;
	font-size: 40px;
	font-family: "Merriweather";
}
.wilhelm-header .text-cont p {
	margin: 0;
	font-size: 20px;
	font-family: "Quicksand";
}
.wilhelm-header .banner {
	width: 60%;
	height: 50%;
	background-image: url(../images/wilhelm-background.jpg);
	background-size: cover;
	background-position: center top;
}

/*================ Biography ================*/
.wilhelm-bio {
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.wilhelm-bio .text-cont {
	width: 70%;
	height: fit-content;
	margin: 5% 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.wilhelm-bio .text-cont h1 {
	margin-left: 0;
	margin-right: auto;
	font-size: 40px;
	font-family: "Merriweather";
}
.wilhelm-bio .text-cont p {
	font-size: 20px;
	font-family: "Quicksand";
}
.wilhelm-bio .text-cont img {
	width: 750px;
	height: auto;
	margin: 5%;
}

/*================ Contribution =================*/
.wilhelm-contribution {
	width: 100%;
	height: 100%;
}

/*================= Why Vote ==================*/
.wilhelm-vote {
	width: 100%;
	height: 80%;
}

/*

============================================== Footer =====================================================

*/
.footer {
	position: relative;
	width: 100%;
	height: 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	justify-content: center;
	background-color: white;
	scroll-snap-align: end;
}
.footer a {
	font-size: 15px;
	text-decoration: none;
	color: black;
	font-family: "Quicksand";
}
.footer a:hover {
	color: gray;
}
.footer .big {
	height: fit-content;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
.footer .big a {
	font-size: 15px;
}
.footer .big a:hover {
	color: gray;
}
.footer .big::before,
.big::after {
	margin: 0 20px;
	width: 30rem;
	display: inline-block;
	content: "";
	border-top: 1px solid black;
}
.footer .links {
	width: 70%;
	height: 60%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.footer .links .footer-nav {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	flex-direction: column;
}
.footer .links .more-info {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	flex-direction: column;
}
.footer .links .more-info p {
	color: black;
	font-family: "Quicksand";
	font-size: 15px;
}
